services:
  backend:
    build: ./backend/health-system-backend
    env_file:
      - .env
    ports:
      - "5000:5000"
    depends_on:
      - mysql
    restart: always

  mysql:
    image: mysql:8.0
    command: --default-authentication-plugin=mysql_native_password
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD= pBJrTZqvgHMgcpnRbQUvpIetBNWCncKB
      MYSQL_DATABASE= railway
      MYSQL_USER= root
      MYSQL_PASSWORD= pBJrTZqvgHMgcpnRbQUvpIetBNWCncKB
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql

volumes:
  mysql_data: